USE [Quiz]
GO
/****** Object:  Table [dbo].[Classroom]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[class_name] [nvarchar](100) NOT NULL,
	[teacher_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classroom_Student]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classroom_Student](
	[class_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC,
	[student_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[exam_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[duration_minutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[exam_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Assignment]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Assignment](
	[assignment_id] [int] IDENTITY(1,1) NOT NULL,
	[exam_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
	[assigned_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[assignment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Attempt]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Attempt](
	[attempt_id] [int] IDENTITY(1,1) NOT NULL,
	[assignment_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[submit_time] [datetime] NULL,
	[score] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[attempt_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Attempt_Detail]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Attempt_Detail](
	[attempt_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[chosen_option] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[attempt_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Question]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Question](
	[exam_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[exam_id] ASC,
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_id] [int] NOT NULL,
	[content] [nvarchar](500) NOT NULL,
	[option_a] [nvarchar](255) NULL,
	[option_b] [nvarchar](255) NULL,
	[option_c] [nvarchar](255) NULL,
	[option_d] [nvarchar](255) NULL,
	[correct_option] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[subject_id] [int] IDENTITY(1,1) NOT NULL,
	[subject_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subject_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](100) NULL,
	[enabled] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Role]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Role](
	[user_id] [int] NOT NULL,
	[role_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Exam] ADD  DEFAULT ((15)) FOR [duration_minutes]
GO
ALTER TABLE [dbo].[Exam_Assignment] ADD  DEFAULT (getdate()) FOR [assigned_date]
GO
ALTER TABLE [dbo].[Exam_Attempt] ADD  DEFAULT (getdate()) FOR [start_time]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [enabled]
GO
ALTER TABLE [dbo].[Classroom]  WITH CHECK ADD FOREIGN KEY([teacher_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Classroom_Student]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classroom] ([class_id])
GO
ALTER TABLE [dbo].[Classroom_Student]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Exam]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([subject_id])
GO
ALTER TABLE [dbo].[Exam_Assignment]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classroom] ([class_id])
GO
ALTER TABLE [dbo].[Exam_Assignment]  WITH CHECK ADD FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[Exam_Attempt]  WITH CHECK ADD FOREIGN KEY([assignment_id])
REFERENCES [dbo].[Exam_Assignment] ([assignment_id])
GO
ALTER TABLE [dbo].[Exam_Attempt]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Exam_Attempt_Detail]  WITH CHECK ADD FOREIGN KEY([attempt_id])
REFERENCES [dbo].[Exam_Attempt] ([attempt_id])
GO
ALTER TABLE [dbo].[Exam_Attempt_Detail]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Question] ([question_id])
GO
ALTER TABLE [dbo].[Exam_Question]  WITH CHECK ADD FOREIGN KEY([exam_id])
REFERENCES [dbo].[Exam] ([exam_id])
GO
ALTER TABLE [dbo].[Exam_Question]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[Question] ([question_id])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([subject_id])
REFERENCES [dbo].[Subject] ([subject_id])
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[User_Role]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStudentsToClass]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddStudentsToClass]
    @ClassId INT,
    @StudentIds NVARCHAR(MAX)  -- Danh sách student_id cách nhau bởi dấu phẩy, ví dụ: '2,3,8,12'
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Temp TABLE (StudentId INT);

    -- Tách chuỗi danh sách student_id thành bảng tạm
    INSERT INTO @Temp (StudentId)
    SELECT value
    FROM STRING_SPLIT(@StudentIds, ',');

    -- Chèn vào Classroom_Student, bỏ qua những học viên đã có
    INSERT INTO Classroom_Student (class_id, student_id)
    SELECT @ClassId, t.StudentId
    FROM @Temp t
    WHERE NOT EXISTS (
        SELECT 1 FROM Classroom_Student cs
        WHERE cs.class_id = @ClassId AND cs.student_id = t.StudentId
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSubjects]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSubjects]
AS
BEGIN
    SELECT subject_id, subject_name
    FROM Subject;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAvailableStudents]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAvailableStudents]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.user_id AS StudentId,
        u.full_name AS FullName,
        u.username AS Username,
        u.email AS Email,
        u.enabled AS Enabled
    FROM [User] u
    INNER JOIN User_Role ur ON u.user_id = ur.user_id
    INNER JOIN Role r ON ur.role_id = r.role_id
    WHERE r.role_name = 'STUDENT'
      AND u.user_id NOT IN (
          SELECT student_id FROM Classroom_Student
      )
    ORDER BY u.full_name;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExamByClass]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetExamByClass]
    @ClassId INT
AS
BEGIN
    SELECT e.exam_id, e.title, e.duration_minutes, ea.assigned_date
    FROM Exam_Assignment ea
    JOIN Exam e ON ea.exam_id = e.exam_id
    WHERE ea.class_id = @ClassId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentsByClass]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetStudentsByClass]
    @ClassId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.user_id AS StudentId,
        u.full_name AS FullName,
        u.username AS Username,
        u.email AS Email,
        u.enabled AS Enabled
    FROM Classroom_Student cs
    INNER JOIN [User] u ON cs.student_id = u.user_id
    WHERE cs.class_id = @ClassId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertUser]    Script Date: 11/10/2025 10:48:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertUser]
    @FullName NVARCHAR(100),
    @Username VARCHAR(50),
    @Password VARCHAR(255),
    @Email VARCHAR(100)
AS
BEGIN
    INSERT INTO [User] (full_name, username, password, email, enabled)
    VALUES (@FullName, @Username, @Password, @Email, 1);
END;
GO
